<div class="col-md-6">
  <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
          <small *ngIf="email.errors?.required && (email.dirty || email.touched)" class="text-danger">
            Email is Required.
          </small>
          <small *ngIf="email.errors?.email && (email.dirty || email.touched) && email.value != ''" class="text-danger">
            Enter valid Email.
          </small>    
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
          <small *ngIf="password.errors?.required && (password.dirty || password.touched)" class="text-danger">
            Password is Required.
          </small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
      </form>
</div>
