<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">EatZoo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Home<span class="sr-only">Home</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" routerLink="/recipes">Recipes</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
