<div class='container-fluid'>
  <div class='row'>
    <app-header></app-header>
  </div>
  <div class="row">
    <div class="container">
        <router-outlet></router-outlet>
    </div>    
  </div>
</div>
