<div class="col-md-6">
  <h1>Register your Account</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input class="form-control" id="firstname" placeholder="First Name" formControlName="firstName">
            <small *ngIf="firstName.errors?.required && (firstName.dirty || firstName.touched)" class="text-danger">
              First name is Required.
            </small>
        </div>
        <div class="form-group">
              <label for="lastname">Last Name</label>
              <input class="form-control" id="lastname" placeholder="Last Name" formControlName="lastName">
              <small *ngIf="lastName.errors?.required && (lastName.dirty || lastName.touched)" class="text-danger">
                Last Name is Required.
              </small>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
          <small *ngIf="email.errors?.required && (email.dirty || email.touched)" class="text-danger">
            Email is Required.
          </small>
          <small *ngIf="email.errors?.email && (email.dirty || email.touched) && email.value != ''" class="text-danger">
            Enter valid Email.
          </small>    
        </div>
        <div class="form-group">
            <label>Gender</label><br>
            <label class="md-check">
              <input type="radio" value="Male" formControlName="gender">
                Male
            </label>          
            <label class="md-check">
              <input type="radio" value="Female" formControlName="gender">     
                Female
            </label>
            <!-- <small *ngIf="gender.errors?.required && (gender.dirty || gender.touched)" class="text-danger">
              Select Gender!
            </small> -->
          </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
          <small *ngIf="password.errors?.required && (password.dirty || password.touched)" class="text-danger">
            Password is Required.
          </small>
          <!-- <small *ngIf="(password.errors?.minLength?.actualLength < 8)  && (password.dirty || password.touched) && (password.value != '')" class="text-danger">
            Password should be of atleast 8 characters!
          </small> -->
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" formControlName="confirmPassword">
            <small *ngIf="confirmPassword.errors?.required && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger">
              Field is Required.
            </small>
            <small *ngIf="!registerForm.errors?.matchingInputs && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger">
              Passwords do not match.
            </small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid" >Register</button>
      </form>
</div>
